<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GGDEMO Shop</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" integrity="" crossorigin="anonymous" />
        <script src="js/jquery-3.4.1.slim.min.js" integrity="" crossorigin="anonymous"></script>
        <script src="js/popper.min.js" integrity="" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/all.css" integrity="" crossorigin="anonymous" />
    </head>
    <body>
        <%- include('navadmin') %>

        <div class="container">
            <div class="row my-3">
                <%Object.values(product).forEach(function(item){%>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/<%= item._id%>"><img class="card-img-top" src="/images/products/<%= item.image%>" alt="" /></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/<%= item._id%>"><%= item.name%></a>
                            </h4>
                            <h5>ราคา <%= item.price%></h5>
                            <p class="card-text"><%= item.description%></p>
                        </div>
                    </div>
                </div>
                <%})%>
            </div>
        </div>
    </body>
</html>
