<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GGDEMO Shop</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" integrity="" crossorigin="anonymous" />
        <script src="js/jquery-3.4.1.slim.min.js" integrity="" crossorigin="anonymous"></script>
        <script src="js/popper.min.js" integrity="" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/all.css" integrity="" crossorigin="anonymous" />
    </head>
    <body>
        <%- include('navbar') %>
        <div class="container">
            
            <h2>จัดการสินค้า</h2>
            <p>เพิ่ม ลบ แก้ไขข้อมูลในฐานข้อมูล</p>            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ชื่อสินค้า</th>
                        <th>รูปภาพ</th>
                        <th>ราคา</th>
                        <th>รายละเอียด</th>
                        <th>ลบ</th>
                        <th>แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                    <%Object.values(product).forEach(function(item){%>
                    <tr>
                        <td><%= item.name%></td>
                        <td><img class="card-img-top" src="/images/products/<%= item.image%>" alt="" /></td>
                        <td><%= item.price%></td>
                        <td><%= item.description%></td>
                        <td><a class="btn btn-danger" href="/delete/<%= item._id%>" onclick="return confirm('คุณต้องการลบหรือไม่ ?')">ลบ</a></td>
                        <td>
                            <form action="/edit" method="POST">
                                <input type="text" name="edit_id" value="<%= item._id%>">
                                <button type="submit" class="btn btn-primary">แก้ไข</button>
                            </form>
                        </td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </body>
</html>
